networks:
  proxy-network:
    external: true

volumes:
  qbit_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/qbit/
  prowlarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/prowlarr/ 
  flaresolver_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/flaresolverr/
  sonarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/sonarr/
  radarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/radarr/
  jellyseer_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-retrieval/jellyseer/
  media:
    driver_opts:
      type: cifs
      o: username=${SMB_USER_USERNAME},password=${SMB_USER_PASSWORD},file_mode=0777,dir_mode=0777,noperm
      device: ${SMB_BASE_PATH}
  downloads:
    driver_opts:
      type: cifs
      o: username=${SMB_USER_USERNAME},password=${SMB_USER_PASSWORD},file_mode=0777,dir_mode=0777,noperm
      device: ${SMB_BASE_PATH}

services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      # PIA Configuration
      # - VPN_SERVICE_PROVIDER=private internet access
      # - OPENVPN_USER=${PIA_OPENVPN_USERNAME}
      # - OPENVPN_PASSWORD=${PIA_OPENVPN_PASSWORD}
      # - SERVER_REGIONS=${PIA_SERVER_REGIONS}

      # NordVPN Configuration
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn # or wireguard
      - OPENVPN_USER=${NORDVPN_OPENVPN_USERNAME}
      - OPENVPN_PASSWORD=${NORDVPN_OPENVPN_PASSWORD}
      - SERVER_COUNTRIES=${NORDVPN_SERVER_COUNTRIES}
      - SERVER_CATEGORIES=${NORDVPN_SERVER_CATEGORIES}
      
      # GLUETUN CONFIG
      - FIREWALL_OUTBOUND_SUBNETS=172.18.0.0/16,${HOME_IP_RANGE}  
      - TZ=${timezone:-UTC}
    ports:
      - 8000:8000 #gluetun http server
      - 9080:9080 #qbittorrent UI
      - 9696:9696 #prowlarr
      - 8191:8191 #flaresolverr
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1     # optional, disable ipv6; recommended if using ipv4 only
    networks:
      - proxy-network 
    restart: unless-stopped
    labels:
      - autoheal=true                        # optional, for willfarrell/docker-autoheal. Gluetun has its own healthcheck and restart mechanism, may be redundant.
      - "traefik.enable=true"
      - "traefik.docker.network=proxy-network"
      
      - "traefik.http.routers.qbittorrent.service=qbittorrent"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbt.${TRAEFIK_BASE_DOMAIN}`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=9080"
      
      
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.${TRAEFIK_BASE_DOMAIN}`)"
      - "traefik.http.routers.prowlarr.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun            # IMPORTANT: use gluetun's network stack
    depends_on:
      gluetun:
        condition: service_healthy           # wait for gluetun to be healthy before starting
    environment:
      - PUID=1000
      - PGID=997
      - TZ=${timezone:-UTC}
      - WEBUI_PORT=9080
    volumes:
      - qbit_config:/config
      - downloads:/downloads
    restart: unless-stopped
    labels:
      - autoheal=true                        # required, for willfarrell/docker-autoheal
    healthcheck:
      # using the gluetun healthcheck to determine if vpn is up, since qbittorrent won't work without it
      test: curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null http://localhost:9999 || exit 1
      interval: 10s
      timeout: 10s
      retries: 3

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: service:gluetun            # IMPORTANT: use gluetun's network stack
    depends_on:
      gluetun:
        condition: service_healthy           # wait for gluetun to be healthy before starting
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${timezone:-UTC}
    volumes:
      - prowlarr_config:/config
    restart: unless-stopped
    labels:
      - autoheal=true                        # required, for willfarrell/docker-autoheal
    healthcheck:
      # using the gluetun healthcheck to determine if vpn is up, since prowlarr won't work without it
      test: curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null http://localhost:9999 || exit 1
      interval: 10s
      timeout: 10s
      retries: 3

  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: service:gluetun            # IMPORTANT: use gluetun's network stack
    depends_on:
      gluetun:
        condition: service_healthy           # wait for gluetun to be healthy before starting
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - LOG_FILE=${LOG_FILE:-none}
      - CAPTCHA_SOLVER=none                  # Warning At this time none of the captcha solvers work.
      - TZ=${timezone:-UTC}
    volumes:
      - flaresolver_config:/config
    restart: unless-stopped
    labels:
      - autoheal=true
    healthcheck:
      # using the gluetun healthcheck to determine if vpn is up, since flaresolverr won't work without it
      test: curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null http://localhost:9999 || exit 1
      interval: 10s
      timeout: 10s
      retries: 3

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=997
      - TZ=${timezone:-UTC}
    volumes:
      - sonarr_config:/config
      - media:/media
      - downloads:/downloads
    ports:
      - 8989:8989
    networks:
      - proxy-network
    restart: unless-stopped
    labels:
      - autoheal=true
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.${TRAEFIK_BASE_DOMAIN}`)"
    healthcheck:
      test: curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null --ipv4 1.1.1.1 || curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null --ipv4 8.8.8.8  || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=997
      - TZ=${timezone:-UTC}
    volumes:
      - radarr_config:/config
      - media:/media
      - downloads:/downloads
    ports:
      - 7878:7878
    networks:
      - proxy-network
    restart: unless-stopped
    labels:
      - autoheal=true
      - "traefik.http.routers.radarr.rule=Host(`radarr.${TRAEFIK_BASE_DOMAIN}`)"
    healthcheck:
      test: curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null --ipv4 1.1.1.1 || curl -sL --retry-connrefused -w "%{http_code}" -o /dev/null --ipv4 8.8.8.8  || exit 1
      interval: 10s
      timeout: 5s
      retries: 3

  jellyseerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: jellyseer
    environment:
      - LOG_LEVEL=debug
      - TZ=${timezone:-UTC}
      - PORT=5055
    ports:
      - 5055:5055
    networks:
      - proxy-network
    volumes:
      - jellyseer_config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    labels:
      - autoheal=true
      - "traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.${TRAEFIK_BASE_DOMAIN}`)"
