networks:
  proxy-network:
    external: true

volumes:
  jellyfin_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-streaming/jellyfin/ 
  jellyfin_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/lib/media-streaming/jellyfin-cache/ 
  media:
    driver_opts:
      type: cifs
      o: username=${SMB_USER_USERNAME},password=${SMB_USER_PASSWORD},file_mode=0777,dir_mode=0777,noperm
      device: ${SMB_BASE_PATH}

services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    networks:
      - proxy-network
    labels:
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.${TRAEFIK_BASE_DOMAIN}`)"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - media:/media
    restart: 'unless-stopped'